<ng-container [ngSwitch]="field.type">
  <ng-container *ngSwitchCase="'TEXT'">
    <div class="form-group">
      <label [for]="field.key">{{ field.label }}</label>
      <input type="text" class="form-control" [id]="field.key" [value]="field.value">
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'DATE'">
    <div class="form-group">
      <label [for]="field.key">{{ field.label }}</label>
      <input type="date" class="form-control" [id]="field.key" [value]="field.value">
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'COMBO'">
    <label [for]="field.key">{{ field.label }}</label>
    <select [id]="field.key" class="form-control" [(ngModel)]="field.value">
      <option value="">- Select -</option>
      <option *ngFor="let opt of field.options" [value]="opt.cd">{{opt.desc}}</option>
    </select>
  </ng-container>

  <ng-container *ngSwitchCase="'RADIOIMAGE'">
    <label>{{ field.label }}</label>
    <div class="form-check form-check-inline" *ngFor="let opt of field.options">
      <input class="form-check-input" type="radio" [name]="field.key" [id]="field.key + '_' + opt.cd" [value]="opt.cd"
        [(ngModel)]="field.value">
      <label class="form-check-label" [for]="field.key + '_' + opt.cd">{{opt.desc}}</label>
    </div>
  </ng-container>
</ng-container>