<div class="card">
  <div class="card-header" id="headingOne">
    <h2 class="mb-0">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        {{sectionHeader}}
      </button>
    </h2>
  </div>

  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
      <div class="form-group">
        <label for="quotationRefNum">{{ quotationRefNumLabel }}</label>
        <input type="text" class="form-control" id="quotationRefNum" [(ngModel)]="model.quotationRefNum">
      </div>
      <div class="form-group">
        <label for="quotationDate">{{ quotationDateLabel }}</label>
        <input type="text" class="form-control" id="quotationDate" [(ngModel)]="model.quotationDt">
      </div>
    </div>
  </div>
</div>