<div class="container">
  <div class="row">
    <div class="col">
      <sym-header></sym-header>
    </div>
  </div>

  <div class="row paddingTop" *ngIf="resourcesLoaded">
    <div class="col-3">
      <sym-menu></sym-menu>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row" *ngIf="!resourcesLoaded">
    <div class="col alert alert-info">
      Loading resources. Please wait...
    </div>
  </div>

  <div class="row">
    <div class="col">
      <sym-footer></sym-footer>
    </div>
  </div>
</div>