<h4>{{header}}</h4>

<div>
  <sym-quotation-section sectionHeaderKey="basicDetails" show="true">
    <sym-field-group fieldKeys="quotationRefNum, quotationDt" [data]="basicDetailData" [lookups]="lookups">
    </sym-field-group>
  </sym-quotation-section>

  <sym-quotation-section sectionHeaderKey="policyProposerDetails">
    <sym-field-group fieldKeys="firstname, lastname" [data]="proposerData" [lookups]="lookups">
    </sym-field-group>
    <sym-field-group fieldKeys="maritalStatus, dob, age" [data]="proposerData" [lookups]="lookups">
    </sym-field-group>
    <sym-field-group fieldKeys="genderCd" [data]="proposerData" [lookups]="lookups">
    </sym-field-group>
    <sym-field-group fieldKeys="relationCd" [data]="proposerData" [lookups]="lookups">
    </sym-field-group>
    <sym-field-group fieldKeys="industryCd" [data]="proposerData" [lookups]="lookups">
    </sym-field-group>
  </sym-quotation-section>
</div>